* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "EB Garamond", serif;
	background-color: #F0F0F0;
	color: #333;
	margin: 20px;
	padding: 0;
	background-image:url(../assets/background.webp);
	background-size:cover
	
  }
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	padding: 15px;
	
}
.foro-titulo {
	background-color: #0200a1;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	font-size: 1.2em;
	font-weight: bold;
  }
.shop-card{
	display: flex;
	flex-direction: column;
	padding: 5vw;
	background-color: #c0c0c0; 
	border: 3px solid #909090;
	padding: 10px;
	margin-bottom: 10px;
}
h1 {
	text-align: center;
}
h3{
	background-color: #a5a2a2;
	color: #333;
	padding: 8px;
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
}
.item-count {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.item-count h3 {
	font-weight: 500;
}

.item-count span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 51px;
	display: flex;
	flex-direction: column;
}

ul li {
	list-style: none;
	display: flex;
	justify-content:space-around;
	align-items: center;
	gap: 5px;
	border: 2.5px #909090 solid;
}

ul li span {
	overflow: hidden;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	outline: none;
}

.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid rgb(102, 105, 102);
	cursor: pointer;
}

.container-done.active {
	background-color: rgb(36, 222, 36);
}

.text-decoration-dashed {
	text-decoration: line-through black;
}

form {
	display: flex;
	gap: 20px;
}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}
img{
	height: 5vh;
	width: 15vw;
}
.btn-delete img{
	height: 64px;
	width: 64px;
}

.pencil-btn img{
	height: 64px;
	width: 64px;
}
.btn-edit , .btn-cancel, .pencil-btn, .btn-delete, .btn-add{
	padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
