* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #F0F0F0;
	color: #333;
	margin: 20px;
	padding: 0;
  }
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	padding: 15px;
	
}
.foro-titulo {
	background-color: #006699;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 2px solid #003366; 
  }
.shop-card{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 5vw;
	background-color: #E6E6E6; 
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 3px 3px 5px #888888;
}
h1 {
	text-align: center;
}
h3{
	background-color: #ADD8E6;
	color: #333;
	padding: 8px;
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
}
.item-count {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.item-count h3 {
	font-weight: 500;
}

.item-count span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content:space-between;
	align-items: center;
	gap: 5px;
	border: 2px #888888 solid;
}

ul li span {
	overflow: hidden;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	outline: none;
}

.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid rgb(102, 105, 102);
	cursor: pointer;
}

.container-done.active {
	background-color: rgb(160, 212, 160);
}

.text-decoration-dashed {
	text-decoration: line-through;
}

form {
	display: flex;
	gap: 20px;
}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}

